In [1]:
import pandas as pd

In [2]:
base = pd.read_excel('jogadores.xlsx')

In [3]:
base.head()

,Unnamed: 0,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
0,0,0,1,0,1,0,0,25
1,1,0,1,0,1,0,1,30
2,2,1,0,0,1,0,0,46
3,3,0,0,0,0,0,0,45
4,4,0,0,1,0,1,0,52

In [4]:
del base['Unnamed: 0']

In [5]:
base.head()

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
0,0,1,0,1,0,0,25
1,0,1,0,1,0,1,30
2,1,0,0,1,0,0,46
3,0,0,0,0,0,0,45
4,0,0,1,0,1,0,52

In [6]:
x = base.iloc[:, :-1]
y = base.iloc[:,-1]

In [7]:
x

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim
0,0,1,0,1,0,0
1,0,1,0,1,0,1
2,1,0,0,1,0,0
3,0,0,0,0,0,0
4,0,0,1,0,1,0
5,0,0,1,0,1,1
6,1,0,1,0,1,1
7,0,1,0,0,0,0
8,0,1,1,0,1,0
9,0,0,0,0,1,0
10,0,1,0,0,1,1
11,1,0,0,0,0,1
12,1,0,0,1,1,0
13,0,0,0,0,0,1

In [8]:
y

0     25
1     30
2     46
3     45
4     52
5     23
6     43
7     35
8     38
9     46
10    48
11    52
12    44
13    30
Name: Total de jogadores, dtype: int64

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [10]:
tree = DecisionTreeRegressor(min_samples_leaf=2)

In [11]:
tree.fit(x,y)

DecisionTreeRegressor(min_samples_leaf=2)

In [13]:
amostra = base.sample()

In [14]:
amostra

,Aspecto_Nublado,Aspecto_Sol,Temperatura_Frio,Temperatura_Quente,Umidade_Normal,Vento_Sim,Total de jogadores
3,0,0,0,0,0,0,45

In [15]:
tree.predict(amostra.iloc[:,:-1])

array([47.66666667])