In [1]:
import pandas as pd

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
caminho = 'C:\\Users\\rafae\\Documents\\Curso Machine Learning - Impacta\\'
arquivo = "funcionarios.xlsx"

base = pd.read_excel(caminho+arquivo, sheet_name='Sheet1')

base.head()

,Unnamed: 0,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,0,1,0,0,0,0,0,R
1,1,6,0,0,1,0,1,Rubi
2,2,3,1,0,0,1,0,Python
3,3,2,0,0,1,0,0,Java
4,4,4,0,1,0,1,0,Java

In [4]:
base.shape

(10, 8)

In [5]:
del base['Unnamed: 0']

In [6]:
base.head()

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
0,1,0,0,0,0,0,R
1,6,0,0,1,0,1,Rubi
2,3,1,0,0,1,0,Python
3,2,0,0,1,0,0,Java
4,4,0,1,0,1,0,Java

In [7]:
x = base.iloc[:,: -1 ]

In [8]:
x

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior
0,1,0,0,0,0,0
1,6,0,0,1,0,1
2,3,1,0,0,1,0
3,2,0,0,1,0,0
4,4,0,1,0,1,0
5,2,0,0,1,1,0
6,3,0,0,0,1,0
7,2,1,0,0,1,0
8,10,0,0,1,0,1
9,5,0,1,0,1,0

In [9]:
y = base.iloc[:, -1]

In [10]:
y

0         R
1      Rubi
2    Python
3      Java
4      Java
5       PHP
6    Python
7    Python
8       PHP
9        C#
Name: linguagem, dtype: object

In [11]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (1.3.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
knn = KNeighborsClassifier(n_neighbors=3)

In [14]:
knn.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [15]:
amostra = base.sample()

In [16]:
amostra

,tempo (anos),departamento_ciencia de dados,departamento_programacao,departamento_web,nivel_pleno,nivel_senior,linguagem
4,4,0,1,0,1,0,Java

In [17]:
knn.predict(amostra.iloc[:,:-1])

array(['C#'], dtype=object)